[buildout]
parts =
   hieroglyph
   github-import
   omelette
extensions = mr.developer
sources = sources
auto-checkout = *

[sources]
hieroglyph = git https://github.com/nyergler/hieroglyph.git

[hieroglyph]
recipe = zc.recipe.egg
eggs =
   hieroglyph
dependent-scripts = true

[github-import]
recipe = zc.recipe.egg
eggs =
   ghp-import

[omelette]
recipe = collective.recipe.omelette
eggs =
    ${hieroglyph:eggs}
    ${github-import:eggs}
